@import "./../../assets/css/index";
@modal-prefix: x-page-head;

.@{modal-prefix}-box{
  width:100%;
  min-width: 1200px;
  padding:10px;
  background-color: @skin;
  .x-logo{
    height: 35px;
  }
  .x-shadow(0 1px 3px rgba(50, 50, 50, 0.4));
}