.x-user-edit-box {
  flex-wrap : wrap;
  -webkit-flex-wrap : wrap;
  -moz-flex-wrap : wrap;
  -o-flex-wrap : wrap;
  -webkit-box-lines : multiple;
  box-lines : multiple;
  width: 100%;
  .x-item{
    width: 50%;
    margin-bottom: 15px;
  }
}

:global(.transitionWrapper-enter) {
  opacity: 0.01;
  transition: opacity 30000ms ease-in;
}

:global(.transitionWrapper-enter.transitionWrapper-enter-active) {
  opacity: 1;
}

:global(.transitionWrapper-leave) {
  opacity: 1;
  transition: opacity 30000ms ease-in;
}

:global(.transitionWrapper-leave.transitionWrapper-leave-active) {
  opacity: 0;
}

.transitionWrapper {
  position: relative;
}