@import "index";

/* 图标样式 */
.x-icon{
  display: inline-block;

}

/* 登录的图标 start */
.login-user-icon , .login-pass-icon{
  width:17px !important;
  height:17px !important;
  margin-right: 10px;
}

.login-user-icon{
  background: url("./../images/login/icon/login_user_icon.png") no-repeat;
  background-size: 100% 100%;
}

.login-pass-icon{
  background: url("./../images/login/icon/login_pass_icon.png") no-repeat;
  background-size: 100% 100%;
}
/* 登录的图标 end */

/* 箭头图标 statr */
.x-arrow-icon{
  display: block;
  width: 17px;
  height:17px;
  &::after {
    content: '';
    position: absolute;
    top: 7px;
    bottom: 0;
    right: 0px;
    display: inline-block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
  }
}
/* 箭头图标 end */